.idivider{
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 0.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.jdplace{
  position: relative;
}

.jieduan{
  font-size: 2.5rem;
  position: absolute;
  top: -1.2rem;
  left: -1.3rem;
  border: 1px solid white;
  background-color: grey;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: white;
}

.table > thead > tr > th {
     vertical-align: middle;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.tint > table{
  margin-bottom: 0;
}

.tint > table > tbody > tr > td{
  width: 5rem;
}
