<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active" role="presentation" ng-click="prize.editor = false"><a>活动列表</a></li>
        <!-- <li role="presentation" ng-click="prize.addTap()" ng-class="{'active': prize.editor}"><a>添加商户</a></li> -->
      </ul>
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!prize.editor" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" ng-model="prize.filter" class="form-control" id="inputPassword3" placeholder="查找活动">
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" ng-disabled="prize.addLoading" ng-click="prize.addTap()" class="btn btn-primary btn-block">{{prize.addLoading ? '加载中':'添加活动'}}</button>
            </div>
          </div>
          <div class="panel panel-default" ng-repeat="item in prize.activity | filter: prize.filter">
            <div class="panel-heading">
              <span style="font-size:2rem; font-weight: bold;">{{item.name}}</span>
              <span style="float: right;">
            <button ng-click="prize.addTap(item)" type="button" class="btn btn-primary btn-xs"  name="button">编辑</button>
            <!-- <button ng-click="prize.removeActive(item)" class="btn btn-danger btn-xs" type="button" name="button">删除</button> -->
          </span>
              <div style="clear: both;"></div>
            </div>
            <table ng-if="item.stage" class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="2">阶段</th>
                  <th rowspan="2">开始时间</th>
                  <th rowspan="2">结束时间</th>
                  <th colspan="2">详情</th>
                </tr>
                <tr>
                  <th>红包金额</th>
                  <!-- <th>已发红包</th> -->
                  <th>剩余红包</th>
                </tr>
              </thead>
              <tbody ng-repeat="stage in item.stage">
                <tr>
                  <td>{{$index + 1}}. {{ stage.name }}</td>
                  <td>{{prize.moment(stage.start).format('YYYY-MM-DD HH:mm')}}</td>
                  <td>{{prize.moment(stage.end).format('YYYY-MM-DD HH:mm')}}</td>
                  <td colspan="3" class="tint" style="padding: 0;">
                    <table class="table table-bordered" frame=vsides>
                      <tbody ng-repeat="(key,val) in stage.prize">
                        <tr ng-repeat="(pKey,pVal) in item.prize" ng-if="pKey === key">
                          <td>{{pVal.price}}</td>
                          <!-- <td>{{pVal.total - pVal.remain}}</td> -->
                          <td>{{val}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <span ng-repeat="pp in pVal">{{pp}}</span> -->
                    <!-- <td ng-repeat="(index, value) in item.prize">{{value.remain}}</td>
                  <td ng-repeat="(index, value) in item.prize">{{value.total}}</td> -->
                  </td>

                  <!-- <td>
                <table class="table table-bordered">
                  <thead>
                    <th>红包金额</th>
                    <th>红包总量</th>
                    <th>剩余红包</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="pp in prize.prizes">
                      <td>{{pp.size}}</td>
                      <td>{{pp.number}}</td>
                      <td>{{pp.shengyu}}</td>
                      </tr>
                    </tbody>
                  </table>
              </td> -->
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <!-- 编辑 -->
    <div ng-if="prize.editor" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">编辑活动</div>
        <div class="panel-body">
          <!-- 活动 -->
          <form name="linkForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>活动名称</label>
                  <input type="text" class="form-control" ng-change="prize.activity.$save(prize.add)" ng-model="prize.add.name" placeholder="请填写活动名称" required>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>操作<small>删除前请清空红包</small></label>
                  <button ng-disabled="!prize.add.name" ng-click="prize.removeActive(prize.add)" class="btn btn-block btn-primary">删除</button>
                </div>
              </div> -->

            </div>
            <!-- <div class="idivider">添加红包类型</div>
            <div class="row" ng-repeat="item in prize.prizeRef">
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" ng-change="prize.prizeRef.$save(item)" class="form-control" ng-model="item.name" placeholder="红包名称" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="number" ng-change="item.remain = item.total;prize.prizeRef.$save(item)" class="form-control" ng-model="item.total" placeholder="红包数量" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="number"  ng-change="prize.prizeRef.$save(item)" class="form-control" ng-model="item.price" placeholder="红包金额" required>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="btn-group">
                    <div ng-click="prize.removePrize(item)" class="btn btn-danger">删除红包</div>
                </div>
              </div>
            </div>
            <button ng-click="prize.addPrize()" class="btn center-block btn-primary">添加红包</button> -->


            <div class="panel panel-default">
              <div class="panel-heading">红包类型管理</div>
              <div class="panel-body">
                <div class="row" ng-repeat="item in prize.prizeRef">
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" ng-change="prize.prizeRef.$save(item)" class="form-control" ng-model="item.name" placeholder="红包名称" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="number" ng-change="item.remain = item.total;prize.prizeRef.$save(item)" class="form-control" ng-model="item.total" placeholder="红包数量" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="number" ng-change="prize.prizeRef.$save(item)" class="form-control" ng-model="item.price" placeholder="红包金额（元）" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group">
                      <div ng-click="prize.removePrize(item)" class="btn btn-danger btn-block">删除</div>
                    </div>
                  </div>
                </div>
                <button ng-click="prize.addPrize()" class="btn btn-block btn-primary">添加红包类型</button>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">活动阶段管理</div>
              <div class="panel-body">
                <div ng-repeat="item in prize.stageRef" class="well jdplace">
                  <div class="jieduan">{{ $index + 1}}</div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>阶段名称</label>
                        <input class="form-control" ng-change="prize.stageRef.$save(item)" ng-model="item.name" placeholder="阶段名称">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>开始时间 格式为(2015-03-15 03:00)</label>
                        <input ng-if="!prize.oldEditor" class="form-control" ng-change="prize.stageRef.$save(item)" ng-model="item.start" moment-picker="item.start" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
                        <input ng-if="prize.oldEditor"  class="form-control" ng-change="prize.stageRef.$save(item)" ng-pattern="prize.test" ng-model="item.start" placeholder="输入开始时间">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>结束时间 格式为(2015-03-15 05:00)</label>
                        <input ng-if="!prize.oldEditor"  class="form-control" ng-change="prize.stageRef.$save(item)" ng-model="item.end" moment-picker="item.end" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
                        <input ng-if="prize.oldEditor"  class="form-control" ng-change="prize.stageRef.$save(item)" ng-pattern="prize.end" ng-model="item.end" placeholder="输入结束时间">
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                          <div class="form-group">
                            <label>操作</label>
                            <button ng-click="prize.stageRef.$remove(item)" class="btn btn-block btn-danger">删除阶段</button>
                          </div>
                        </div> -->
                  </div>
                  <div class="idivider">选择红包类型并设置数量</div>
                  <div class="row" ng-repeat="pp in prize.prizeRef" ng-init="item.prize[pp.$id] || item.prize[pp.$id] == 0 ? prize.check[item.name + pp.$id] = true : prize.check[item.name + pp.$id] = false">
                    <div class="col-md-6">
                      <div class="checkbox">
                        <label>
                          <input ng-model="prize.check[item.name + pp.$id]" ng-change="prize.checkPrize(item, pp.$id);prize.stageRef.$save(item)" type="checkbox" value=""> {{pp.name}} - {{ pp.price}}元 - {{pp.total}}个
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="checkbox" ng-if="prize.check[item.name + pp.$id]">
                        <label>红包个数</label>
                        <input type="number" ng-change="prize.stageRef.$save(item)" ng-model="item.prize[pp.$id]">
                        <!-- <div class="alert alert-danger" ng-show="item.prize.remain - item.prize[pp.$id]" role="alert">红包数不可大于当前可设置红包总量</div> -->
                      </div>
                    </div>
                  </div>
                  <button ng-click="prize.stageRef.$remove(item)" class="btn btn-block btn-danger">删除阶段</button>
                </div>
                <button ng-click="prize.addStage()" class="btn btn-primary btn-block">添加阶段</button>
              </div>

              <div class="row">
                <div class="col-md-6 center-block" style="float:none">

                </div>
              </div>

            </div>
        </div>

        <!-- <div class="idivider">添加活动阶段</div>
            <div ng-repeat="item in prize.stageRef">
                <div  class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>阶段名称</label>
                        <input class="form-control" ng-change="prize.stageRef.$save(item)"  ng-model="item.name" placeholder="阶段名称">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>开始时间</label>
                        <input class="form-control" ng-change="prize.stageRef.$save(item)"  ng-model="item.start" moment-picker="item.start" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>结束时间</label>
                        <input class="form-control" ng-change="prize.stageRef.$save(item)"  ng-model="item.end" moment-picker="item.end" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>操作</label>
                        <button ng-click="prize.stageRef.$remove(item)" class="btn btn-block btn-danger">删除阶段</button>
                      </div>
                    </div>
              </div>
              <div class="row" ng-repeat="pp in prize.prizeRef" ng-init="item.prize[pp.$id] || item.prize[pp.$id] == 0 ? prize.check[item.name + pp.$id] = true : prize.check[item.name + pp.$id] = false">
                <div class="col-md-6">
                  <div class="checkbox">
                      <label>
                        <input ng-model="prize.check[item.name + pp.$id]" ng-change="prize.checkPrize(item, pp.$id);prize.stageRef.$save(item)" type="checkbox" value="">
                        {{pp.name}} - {{pp.total}} - {{ pp.price}}
                      </label>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox" ng-if="prize.check[item.name + pp.$id]">
                      <label>红包个数</label>
                      <input type="number"  ng-change="prize.stageRef.$save(item)" ng-model="item.prize[pp.$id]">
                    </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-6 center-block" style="float:none">
                <button ng-click="prize.addStage()" class="btn btn-block">添加阶段</button>
              </div>
            </div> -->
        </form>
        <div class="panel-footer">
          <button ng-hide="prize.loading" ng-disabled="linkForm.$invalid" ng-click="prize.saveAll()" class="btn btn-primary btn-shadow" type="button">保存</button>
          <button ng-disabled="!prize.add.name" ng-click="prize.removeActive(prize.add)" class="btn btn-default" type="button">删除</button>
          <!-- <button ng-hide="prize.loading" ng-if="prize.add.objectId" ng-click="prize.remove()" class="btn btn-danger btn-shadow">删除</button> -->
        </div>
      </div>
    </div>
  </div>

</div>


</div>
<!-- 按钮组 -->
</div>
