<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active" role="presentation" ng-click="prize.editor = false" ><a>活动列表</a></li>
        <!-- <li role="presentation" ng-click="prize.addTap()" ng-class="{'active': prize.editor}"><a>添加商户</a></li> -->
      </ul>
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!prize.editor" class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" ng-model="prize.filter" class="form-control" id="inputPassword3" placeholder="筛选">
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" ng-click="prize.addTap()" class="btn btn-primary btn-block">添加活动</button>
        </div>
      </div>
      <div class="panel panel-default" ng-repeat="item in prize.prizes | filter: prize.filter">
        <h2 class="text-center">{{item.name}}</h2>
        <button ng-click="prize.editorTap(item)" type="button" class="btn btn-primary"  name="button">编辑</button>
        <button ng-click="prize.removeTap(item)" class="btn btn-danger" type="button" name="button">删除</button>
        <hr>
        <div class="row">
          <div class="col-md-10 float-none center-block">

        <table ng-if="item.stage && item.stage.length" class="table table-bordered">
          <thead>
            <th>阶段</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>详细</th>
          </thead>
          <tbody>
            <tr  ng-repeat="stage in item.stage">
              <td>{{$index + 1}} 阶段</td>
              <td>{{prize.moment(stage.start).format('YYYY-MM-DD HH:mm')}}</td>
              <td>{{prize.moment(stage.end).format('YYYY-MM-DD HH:mm')}}</td>
              <td>
                <table class="table table-bordered">
                  <thead>
                    <th>红包金额</th>
                    <th>红包总量</th>
                    <th>剩余红包</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="pp in stage.prize">
                      <td>{{pp.size}}</td>
                      <td>{{pp.number}}</td>
                      <td>{{pp.shengyu}}</td>
                      </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
            <tbody>
          </table>
        </div>
      </div>
      </div>
    </div>

    <!-- 编辑 -->
    <div ng-if="prize.editor" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- 活动 -->
          <form name="linkForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>活动名称</label>
                  <input type="text" class="form-control" ng-model="prize.add.name" placeholder="活动名称" required>
                </div>
              </div>
            </div>
            <hr>
            <div ng-repeat="item in prize.add.stage">
              <div  class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>开始时间</label>
                  <input class="form-control" ng-model="item.start" moment-picker="item.start" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>结束时间</label>
                  <input class="form-control" ng-model="item.end" moment-picker="item.end" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>操作</label>
                  <button ng-click="prize.removeStage(prize.add.stage, $index)" class="btn btn-block btn-danger">删除阶段</button>
                </div>
              </div>
            </div>
            <div class="row" ng-repeat="pri in item.prize">
              <div class="col-md-4">
                <div class="form-group">
                  <label>红包数量</label>
                  <input type="number" class="form-control" ng-model="pri.number" ng-change="pri.shengyu = pri.number" placeholder="红包数量" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>红包金额</label>
                  <input type="number" class="form-control" ng-model="pri.size" placeholder="红包金额" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>操作</label>
                  <button ng-click="prize.removePrize(item.prize, $index)" class="btn btn-block btn-danger">删除红包</button>
                </div>
              </div>
            </div>

              <button ng-click="prize.addPrize(item)" class="btn center-block btn-primary">添加红包</button>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-6 center-block" style="float:none">
                <button ng-click="prize.addStage()" class="btn btn-block">添加阶段</button>
              </div>
            </div>
            <button ng-show="prize.loading" class="btn btn-loaading">加载中</button>
            <button ng-hide="prize.loading" ng-disabled="linkForm.$invalid" ng-click="prize.save(prize.cacheSave)" class="btn btn-primary btn-shadow">保存</button>
            <button ng-hide="prize.loading" ng-if="prize.add.objectId" ng-click="prize.remove()" class="btn btn-danger btn-shadow">删除</button>
          </form>
        </div>
      </div>
    </div>

  </div>


</div>
<!-- 按钮组 -->
</div>
