<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active" role="presentation" ng-click="business.editor = false" ><a>商户列表</a></li>
        <!-- <li role="presentation" ng-click="business.download()" ><a>点击下载</a></li> -->

        <!-- <li role="presentation" ng-click="business.addTap()" ng-class="{'active': business.editor}"><a>添加商户</a></li> -->
      </ul>
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!business.editor" class="col-md-10">

      <div class="panel panel-default">
        <div class="panel-body">
          <!-- 搜索区域 -->
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" ng-model="business.filter" class="form-control" id="inputPassword3" placeholder="查找商家">
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" ng-click="business.addTap()" class="btn btn-primary btn-block">添加商家</button>
            </div>
          </div>
          <!-- 列表 -->
          <table class="table table-hover">
            <thead>
              <th>商家名称</th>
              <th>电话</th>
              <th>地址</th>
              <th>创建时间</th>
              <th style="display: wrap;">操作</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in business.users | filter: business.filter" ng-class="{'danger': business.now > business.getTime(item.endTime.iso)}">
                <td>
                  <span ng-if="business.copyCat.$id !== item.$id">{{item.name}}</span>
                  <span ng-if="business.copyCat.$id === item.$id" class="form-group">
                    <input ng-model="business.copyCat.name" type="name" class="form-control input-sm" placeholder="商家名称">
                  </span>
                </td>
                <td>
                  <span ng-if="business.copyCat.$id !== item.$id">{{item.phone}}</span>
                  <span ng-if="business.copyCat.$id === item.$id" class="form-group">
                    <input ng-model="business.copyCat.phone" type="text" class="form-control input-sm" placeholder="电话号码">
                  </span>
                </td>
                <td>
                  <span ng-if="business.copyCat.$id !== item.$id">{{item.address}}</span>
                  <span ng-if="business.copyCat.$id === item.$id" class="form-group">
                    <input ng-model="business.copyCat.address" type="text" class="form-control input-sm" placeholder="地址">
                  </span>
                </td>
                <td>{{business.moment(item.createdAt).format('YYYY-MM-DD HH:mm')}}</td>
                <td>
                  <div class="btn-group">
                    <div ng-click="business.editorTap(item)" ng-if="business.copyCat.$id !== item.$id" class="btn btn-primary btn-xs" href="#">编辑</div>
                    <div ng-click="business.addTap(item.$id)" ng-if="!item.parent && business.copyCat.$id !== item.$id" class="btn btn-default btn-xs" href="#">添加商家</div>
                    <!-- <div ng-click="business.lookcoupon(item.$id)" class="btn-primary btn-xs">查看兑换列表</div> -->
                    <div ng-click="business.editorSave(item)" ng-if="business.copyCat.$id === item.$id" class="btn btn-success btn-xs" href="#">保存</div>
                    <div ng-click="business.copyCat = null" ng-if="business.copyCat.$id === item.$id" class="btn btn-default btn-xs" href="#">取消</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p ng-if="business.loadingData">加载中请稍候</p>
          <p ng-if="!business.loadingData && !business.users.length">暂无商户</p>

          <!-- 分页 -->
          <nav ng-if="business.pages.length > 1">
            <ul class="pagination">
              <li ng-class="{'disabled': business.page === 1}" ng-click="business.getList(1)">
                <span>
                  <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <li ng-class="{'active': business.page === item}" ng-click="business.getList(item)" ng-repeat="item in business.pages">
                <span>{{item}}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li ng-class="{'disabled': business.page === business.pages.length}" ng-click="business.getList(business.pages.length)">
                <span aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- 编辑 -->
    <div ng-if="business.editor" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- 活动 -->
          <form name="linkForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>商户名称</label>
                  <input type="text" class="form-control" ng-model="business.add.name" placeholder="商户名称" required>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>密码</label>
                  <input ng-if="business.add.objectId" type="password" class="form-control" ng-model="business.add.password" placeholder="不修改密码您留空">
                  <input ng-if="!business.add.objectId" type="password" class="form-control" ng-model="business.add.password" placeholder="密码" required>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>手机号码</label>
                  <input type="text" ng-pattern="/^1[3|4|5|8][0-9]\d{8}$/" class="form-control" ng-model="business.add.phone" placeholder="手机号码" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>邮箱</label>
                  <input type="email" class="form-control" ng-model="business.add.email" placeholder="邮箱" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>地址</label>
                  <input type="text" class="form-control" ng-model="business.add.address" placeholder="地址" required>
                </div>
              </div>
            </div>
            <button ng-show="business.loading" class="btn btn-loaading">加载中</button>
            <button ng-hide="business.loading" ng-disabled="linkForm.$invalid" ng-click="business.save()" class="btn btn-primary btn-shadow">保存</button>
            <button ng-hide="business.loading" ng-if="business.add.objectId" ng-click="business.remove()" class="btn btn-danger btn-shadow">删除</button>
          </form>
        </div>
      </div>
    </div>

  <!-- 查看代金券列表 -->
  <!-- <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>活动名称</th>
              <th>红包名称</th>
              <th>红包金额</th>
              <th>兑换时间</th>
              <th>商户名称</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pri in business.rPrizes">
              <td>{{ pri.activeName }}</td>
              <td>{{ pri.prizeName }}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>第一届惠民派红包</td>
              <td>小红包</td>
              <td>50.00</td>
              <td>16/05/12 09:00</td>
              <td>北国商城-金棕榈影城</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div> -->


</div>
<!-- 按钮组 -->
</div>
