<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <div class="btn btn-block btn-primary" ng-click="signin.showList(item)" ng-repeat="item in signin.features" role="button">{{item.name | limitTo: 8}}</div>
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!signin.editor" class="col-md-10">
      <h3>{{signin.showFeature.name || '请先选择左侧活动再查看结果'}}</h3>
      <!-- 链接列表 -->
      <table class="table table-striped">
        <thead>
          <th>排名</th>
          <th>ID</th>
          <th>微信昵称</th>
          <th>姓名</th>
          <th>电话</th>
          <th>出生日期</th>
          <th>票数</th>
          <th>照片</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in signin.signins">
            <th>{{$index + 1 +  ((signin.page -1) * signin.limit)}}</th>
            <th>{{item.SignId || item.SignInId}}</th>
            <th>{{item.nickname}}</th>
            <th>{{item.name}}</th>
            <th>{{item.tel}}</th>
            <th>{{item.birthday}}</th>
            <th>{{item.votesNumber}}</th>
            <th><a href="{{item.imageAddr}}">照片</a></th>
          </tr>
        </tbody>
      </table>


      <!-- 分页 -->
      <nav ng-if="signin.pages.length > 1">
        <ul class="pagination">
          <li ng-class="{'disabled': signin.page === 1}" ng-click="signin.getList(signin.page - 1)">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <li ng-class="{'active': signin.page === item}" ng-click="signin.getList(item)" ng-repeat="item in signin.pages">
            <span>{{item}}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li ng-class="{'disabled': signin.page === signin.pages.length}" ng-click="signin.getList(signin.page + 1)">
            <span aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
      <!-- 分页 Ending -->
    </div>
  </div>
  <!-- 按钮组 -->
</div>
