.acme-navbar-text{
  color: white;
}
body{
  background-color: #f8f8f8;
}
.navbar-lottery{
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  .nav li.active{
    background-color: #f0f0f0;
  }
  .nav-logo{
    padding:0;
    margin:0 15px;
    img{
      max-height: 100%;
    }
  }


}

.float-none{
  float: none;
}
.navbar-brand{
  padding: 0 15px;
  margin-left: 15px;
}
.navbar-brand img{
  max-height: 100%;
}
