<nav class="navbar navbar-lottery">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="夜经济" src="assets/images/logo.jpg">
      </a>
    </div>
    <!-- 导航栏 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.list" ng-class="{'active': vm.stateName===item.name}">
            <a ng-href="#/{{item.state}}" ng-click="vm.go(item)">{{item.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a ng-click="$root.logout()">退出</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>
