<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <div class="btn btn-block btn-primary" ng-click="mother.getList()" role="button">妈妈 Pa 活动列表</div>
      <!-- <div class="btn btn-block btn-primary" ng-click="mother.getList()" role="button">进行中的 妈妈 Pa</div>
      <div class="btn btn-block btn-primary" ng-click="mother.getList()" role="button">已结束的 妈妈 Pa</div> -->
      <div class="btn btn-block btn-primary" ng-click="mother.addTap()" role="button">添加妈妈 Pa 活动</div>
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!mother.editor && !mother.result" class="col-md-10">
      <!-- 列表 -->
      <table class="table table-bordered table-hover ">
        <thead>
          <th>名称</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>报名时间</th>
          <th>是否过期</th>
          <th>参与人数</th>
          <th>已报名人数</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr class="success" ng-repeat="item in mother.mothers" ng-class="{'danger': mother.now > mother.getTime(item.endTime.iso)}">
            <td>{{item.name}}</td>
            <td>{{mother.moment(item.startTime.iso).format('MM-DD HH:mm')}}</td>
            <td>{{mother.moment(item.endTime.iso).format('MM-DD HH:mm')}}</td>
            <td>{{mother.moment(item.regTime.iso).format('MM-DD HH:mm')}}</td>
            <td>{{mother.now > mother.getTime(item.endTime.iso) ? '过期' : '正常'}}</td>
            <td>{{item.No}}</td>
            <td>{{item.NoReady}}</td>
            <td><button ng-click="mother.addTap(item)" class="btn btn-default">编辑</button>  <button class="btn btn-default" ng-click="mother.showResult(item.objectId)">查看</button> <!--<button class="btn btn-danger" ng-click="mother.remove(item)">删除</button>--></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="list-group">
        <div class="list-group-item" ng-if="mother.mothers.length === 0">暂无妈妈 Pa</div>
        <button class="list-group-item" ng-click="mother.addTap(item)" ng-repeat="item in mother.mothers | orderBy: '-sort'">
          {{item.name}} </button>
      </div> -->

      <!-- 分页 -->
      <nav ng-if="mother.pages.length > 1">
        <ul class="pagination">
          <li ng-class="{'disabled': mother.page === 1}" ng-click="mother.getList(1)">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <li ng-class="{'active': mother.page === item}" ng-click="mother.getList(item)" ng-repeat="item in mother.pages">
            <span>{{item}}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li ng-class="{'disabled': mother.page === mother.pages.length}" ng-click="mother.getList(mother.pages.length)">
            <span aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
    </div>

    <!-- 编辑 -->
    <div ng-if="mother.editor && !mother.result" class="col-md-10">
      <!-- 活动 -->
      <div>
        <form name="linkForm" novalidate>
          <div class="form-group">
            <label >活动名称</label>
            <input type="text" class="form-control" ng-model="mother.add.name" placeholder="活动名称" required>
          </div>
        </div>
        <div class="form-group">
          <label>封面图</label>
          <div class="button btn btn-primary " ngf-select ng-model="mother.coverImg" ng-change="mother.upload(mother.coverImg, 'coverImg')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"  ngf-min-height="100">选择图片</div>
          <!-- <input type="file" id="file"> -->
          <!-- <p class="help-block">请上传 80 * 40 的图片</p> -->
          <img src="{{mother.add.coverImg}}">
        </div>
        <div class="form-group">
          <label>活动图</label>
          <div class="button btn btn-primary " ngf-select ng-model="mother.activityImg" ng-change="mother.upload(mother.activityImg, 'activityImg')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"  ngf-min-height="100">选择图片</div>
          <!-- <input type="file" id="file"> -->
          <!-- <p class="help-block">请上传 80 * 40 的图片</p> -->
          <img src="{{mother.add.activityImg}}">
        </div>
          <div class="form-group">
            <label>开始时间</label>
            <input class="form-control"  ng-model="mother.add.startTime" moment-picker="mother.add.startTime" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
          </div>
          <div class="form-group">
            <label>结束时间</label>
            <input class="form-control"  ng-model="mother.add.endTime" moment-picker="mother.add.endTime" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
          </div>
          <div class="form-group">
            <label>报名时间</label>
            <input class="form-control"  ng-model="mother.add.regTime" moment-picker="mother.add.regTime" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
          </div>
          <div class="form-group">
            <label>活动内容</label>
            <textarea placeholder="活动内容" class="form-control" ng-model="mother.add.content"  rows="3"></textarea>
          </div>
          <div class="form-group">
            <label >视频地址</label>
            <input type="text" class="form-control" ng-model="mother.add.video" placeholder="视频地址" required>
          </div>
          <div class="form-group">
            <label >活动地址</label>
            <input type="text" class="form-control" ng-model="mother.add.addr" placeholder="活动地址" required>
          </div>
          <div class="form-group">
            <label >参加人数</label>
            <input type="number" class="form-control" ng-model="mother.add.No" placeholder="视频地址" required>
          </div>

          <div class="form-group">
            <label>所需字段</label>
            <div class="checkbox" ng-repeat="(key, item) in mother.fields">
              <label >
                <input type="checkbox" name="type" ng-checked="mother.isSelected(key)" ng-click="mother.upCheck($event, key)" ng-value="{{key}}"> {{item.key}}
              </label>
            </div>
          </div>



          <button ng-show="mother.loading" class="btn btn-loaading">加载中</button>
          <button ng-hide="mother.loading" ng-disabled="linkForm.$invalid" ng-click="mother.save()" class="btn btn-primary btn-shadow">保存</button>
          <button ng-hide="mother.loading" ng-if="mother.add.objectId" ng-click="mother.remove()" class="btn btn-danger btn-shadow">删除</button>
        </form>
      </div>
      <!-- 报名结果 -->
      <div ng-if="mother.result" class="col-md-10">
        <mother-result result="{{mother.result}}"></mother-result>
      </div>
    </div>


  </div>
  <!-- 按钮组 -->
</div>
