  <table class="table table-bordered table-hover ">
    <thead>
      <th ng-repeat="item in vm.attr">{{item.key}}</th>
    </thead>
    <tbody>
      <tr class="success" ng-repeat="item in vm.mothers" >
        <td ng-repeat="(key, val) in vm.attr">{{item[key]}}</td>
      </tr>
    </tbody>
  </table>

  <p ng-if="vm.mothers && vm.mothers.length === 0">暂无妈妈报名</p>

  <nav ng-if="vm.pages.length > 1">
    <ul class="pagination">
      <li ng-class="{'disabled': vm.page === 1}" ng-click="vm.getList(1)">
        <span>
          <span aria-hidden="true">&laquo;</span>
        </span>
      </li>
      <li ng-class="{'active': vm.page === item}" ng-click="vm.getList(item)" ng-repeat="item in vm.pages">
        <span>{{item}}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li ng-class="{'disabled': vm.page === vm.pages.length}" ng-click="vm.getList(vm.pages.length)">
        <span aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>
    </ul>
  </nav>
