<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-click="destroy.getList()" ng-class="{'active': destroy.isActive}"><a>{{isActive}}红包列表</a></li>
        <li role="presentation" ng-click="destroy.addTap()" ng-class="{'active': !destroy.isActive}"><a>添加红包</a></li>
      </ul>
      <!-- <div class="btn btn-block btn-primary" ng-click="destroy.getList()" role="button">红包列表</div>
      <div class="btn btn-block btn-primary" ng-click="destroy.addTap()" role="button">添加红包</div> -->
    </div>
    <!-- 右侧详情 -->
    <div ng-if="!destroy.editor && !destroy.result" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">

          <!-- 列表 -->
          <table class="table table-hover ">
            <thead>
              <th>商家</th>
              <th>金额</th>
              <th>开始时间</th>
              <th>结束时间</th>
              <th>介绍</th>
              <th>操作</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in destroy.gifts" ng-class="{'active': destroy.now > destroy.getTime(item.endTime.iso)}">
                <td>{{item.user.username}}</td>
                <td>{{item.name}}</td>
                <td>{{destroy.moment(item.start.iso).format('MM-DD HH:mm')}}</td>
                <td>{{destroy.moment(item.end.iso).format('MM-DD HH:mm')}}</td>
                <td>{{item.description}}</td>
                <td>
                  <button ng-click="destroy.addTap(item)" class="btn btn-xs">编辑</button>
                  <button class="btn btn-xs" ng-click="destroy.showResult(item.objectId)">查看</button>
                  <!--<button class="btn btn-danger" ng-click="destroy.remove(item)">删除</button>-->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="list-group">
            <div class="list-group-item" ng-if="destroy.gifts.length === 0">暂无妈妈 Pa</div>
            <button class="list-group-item" ng-click="destroy.addTap(item)" ng-repeat="item in destroy.gifts | orderBy: '-sort'">
              {{item.name}} </button>
          </div> -->

          <!-- 分页 -->
          <nav ng-if="destroy.pages.length > 1">
            <ul class="pagination">
              <li ng-class="{'disabled': destroy.page === 1}" ng-click="destroy.getList(1)">
                <span>
                  <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <li ng-class="{'active': destroy.page === item}" ng-click="destroy.getList(item)" ng-repeat="item in destroy.pages">
                <span>{{item}}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li ng-class="{'disabled': destroy.page === destroy.pages.length}" ng-click="destroy.getList(destroy.pages.length)">
                <span aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- 编辑 -->
    <div ng-if="destroy.editor && !destroy.result" class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- 活动 -->
          <form name="linkForm" novalidate>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>所属商家</label>
                  <select class="form-control" ng-model="destroy.add.user" required>
                    <option ng-repeat="item in destroy.users" value="{{item.objectId}}">{{item.username}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>金额</label>
                  <input type="text" class="form-control" ng-model="destroy.add.name" placeholder="商品名称" required>
                </div>

              </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>签到天数</label>
                  <input type="number" class="form-control" ng-model="destroy.add.day" placeholder="需要签到天数" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>签到类型</label>
                  <select class="form-control" ng-model="destroy.add.type">
                    <option ng-repeat="item in ['连续签到', '总计签到']" value="{{item}}">{{item}}</option>
                  </select>
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>开始时间</label>
                  <input class="form-control" ng-model="destroy.add.start" moment-picker="destroy.add.start" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>结束时间</label>
                  <input class="form-control" ng-model="destroy.add.end" moment-picker="destroy.add.end" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>介绍</label>
                  <input type="text" class="form-control" ng-model="destroy.add.description" placeholder="奖品介绍" required>
                </div>
              </div>
            </div>

            <button ng-show="destroy.loading" class="btn btn-loaading">加载中</button>
            <button ng-hide="destroy.loading" ng-disabled="linkForm.$invalid" ng-click="destroy.save()" class="btn btn-primary btn-shadow">保存</button>
            <button ng-hide="destroy.loading" ng-if="destroy.add.objectId" ng-click="destroy.remove()" class="btn btn-danger btn-shadow">删除</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 报名结果 -->
    <div ng-if="destroy.result" class="col-md-10">
      <destroy-result result="{{destroy.result}}"></destroy-result>
    </div>
  </div>


</div>
<!-- 按钮组 -->
</div>
