  <table class="table table-bordered table-hover ">
    <thead>
      <th>昵称</th>
      <th>用户ID</th>
      <th>领取时间</th>
      <th>是否已使用</th>
    </thead>
    <tbody>
      <tr class="success" ng-class="{'danger': item.use}" ng-repeat="item in vm.coupons" >
        <th>{{item.user.nickname}}</th>
        <th>{{item.userNo}}</th>
        <th>{{item.createdAt | date: 'yyyy-MM-dd HH:mm'}}</th>
        <th>{{item.use ? '已使用' : '未使用'}}</th>
      </tr>
    </tbody>
  </table>
  <p ng-if="vm.loading">加载中</p>
  <p ng-if="!vm.loading && vm.coupons.length === 0">暂无已发放的优惠券</p>

  <nav ng-if="vm.pages.length > 1">
    <ul class="pagination">
      <li ng-class="{'disabled': vm.page === 1}" ng-click="vm.getList(1)">
        <span>
          <span aria-hidden="true">&laquo;</span>
        </span>
      </li>
      <li ng-class="{'active': vm.page === item}" ng-click="vm.getList(item)" ng-repeat="item in vm.pages">
        <span>{{item}}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li ng-class="{'disabled': vm.page === vm.pages.length}" ng-click="vm.getList(vm.pages.length)">
        <span aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>
    </ul>
  </nav>
