<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-3 top-select ">
        <label>选择活动</label>
        <select ng-disabled="ex.loading" ng-change="ex.searchPrizes()" ng-model="activity" class="form-control">
          <option ng-repeat="item in ex.activitys" value="{{item.$id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-3 top-select">
        <label>选择商家</label>
        <select ng-disabled="ex.loading" ng-model="business" ng-change="business_child = null;ex.searchPrizes()" class="form-control">
          <option ng-if="!item.parent" ng-repeat="item in ex.business" value="{{item.$id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-3 top-select">
        <label>选择子商家</label>
        <select ng-disabled="ex.loading"  ng-show="business" ng-change="ex.searchPrizes()" ng-model="business_child" class="form-control">
          <option ng-if="item.parent" ng-repeat="item in ex.business | filter: {parent: business}" value="{{item.$id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-3 top-select">
        <label>下载详细兑换列表</label>
        <button ng-click="ex.download()" ng-disabled="ex.loading || !activity"  class="btn btn-primary btn-block"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载详细记录</button>
      </div>

    </div>
    <!-- <div class="row">
      <div class="col-md-6 top-select">
        <button ng-click="ex.searchPrizes()" ng-disabled="ex.loading || !activity || !business"  class="btn btn-primary btn-block">{{ex.loading ? '加载中' : '查询'}}</button>
      </div>
    </div> -->
    <!-- 信息汇总 -->
    <div class="col-md-8 float-none center-block">

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>商户名称</th>
                <th>总金额</th>
                <th>红包个数</th>
                <th>兑换详细</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="(key, item) in ex.showTongji">
                <td>{{key === 'all' ? '全部' : key}}</td>
                <td>{{ item.price}}</td>
                <td>{{ item.length}}</td>
                <td>
                  <span ng-repeat="(keyN, valN) in item.list">{{keyN}}元:{{valN}}个 ,  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


    <!-- 查看代金券列表 -->
    <div ng-if="show" class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>商户名称</th>
                <th>红包金额</th>
                <th>兑换时间</th>
                <th>红包名称</th>
                <th>父级商家</th>
                <th>活动名称</th>
                <!-- <th>领取时间</th> -->
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="pri in ex.showPrizess | orderBy: '-exchangedDate'">
                <td>{{pri.business}}</td>
                <td>{{ pri.price}}</td>
                <td>{{ pri.exchangedDate | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{ pri.prizeName }}</td>
                <td>{{ pri.businessParent }}</td>
                <td>{{ pri.activityName }}</td>
                <!-- <td>{{ pri.date | date: 'yyyy-MM-dd HH:mm'}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- 按钮组 -->
</div>
