<div class="container">
  <div class="row center-block" style="text-align:center">
      <!-- <img src="app/login/img/logo.jpg" alt="" style="width: 9rem;" /> -->
      <h1>石家庄夜经济后台登录</h1>
      <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- 登录表单 -->
      <form name="LoginForm" ng-submit="login.login()" novalidate>
        <div class="form-group">
          <label for="name">用户名</label>
          <input type="email" ng-model="login.user.username" class="form-control" id="name" placeholder="用户名" required>
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input type="password"  ng-model="login.user.password"  class="form-control" id="password" placeholder="密码" required>
        </div>
        <button type="submit" ng-disabled="LoginForm.$invalid || login.loading" class="btn btn-block btn-primary">{{login.loading? '加载中' : '登录'}}</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
