.statistic{
  margin-top: 5%;
}
.dashicon{
  width: 1.8rem;
  margin-bottom: 0.8rem;
}
.dashtitle{
  font-size: 2rem;
  margin-left: 0.6rem;
}
.pies{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pie{
  text-align: center;
}

.pie > h3{
  margin-bottom: 2rem;
}

.top-select{
  padding: 20px;
}
