<div class="container">

  <div class="row">
    <div class="col-md-6 top-select float-none center-block">
      <select ng-model="activity" class="form-control">
        <option ng-repeat="item in main.statistic" value="{{item.$id}}">{{item.name}}</option>
      </select>

    </div>
    <!-- <acme-navbar creation-date="main.creationDate"></acme-navbar> -->
  </div>
  <side-bar></side-bar>
  <!-- 包裹饼图的面板 -->
  <div class="panel panel-default">
    <!-- <div class="panel-heading">
      <span><img class="dashicon" src="app/main/img/dashboard.svg" alt=""></span><span class="dashtitle">监控台</span>
    </div> -->
    <div class="panel-body">
      <!-- 红包发放情况饼图 -->

      <div class="row pies">
        <div class="col-md-6 pie">
          <h3>红包发送情况</h3>
          <canvas id="pie" class="chart chart-pie"
            chart-data="main.hbdata" chart-labels="main.hblabels" chart-legend="main.legend" chart-colours="main.hbcolours">
          </canvas>
        </div>
        <!-- 红包兑换情况饼图 -->
        <div class="col-md-6 pie" style="text-align: center;">
          <h3>红包兑换情况</h3>
          <canvas id="pie" class="chart chart-pie"
            chart-data="main.dhdata" chart-labels="main.dhlabels" chart-legend="main.legend" chart-colours="main.dhcolours">
          </canvas>
        </div>
      </div>
      <!-- 旧版统计界面 -->
      <!-- <div class="row statistic">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">已发红包</div>
            <div class="panel-body text-center">
              <p style="font-size: 80px;">50000</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">剩余红包</div>
            <div class="panel-body text-center">
              <p style="font-size: 80px;">80000</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">已兑换红包</div>
            <div class="panel-body text-center">
              <p style="font-size: 80px;">5000</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-warning">
            <div class="panel-heading">已兑换金额（元）</div>
            <div class="panel-body text-center">
              <p style="font-size: 80px;">25000</p>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  <!-- <div class="jumbotron text-center">


    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div> -->
