<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <div class="btn btn-block btn-primary" ng-click="lottery.getList()" role="button">抽奖活动列表</div>
      <div class="btn btn-block btn-primary" ng-click="lottery.addTap()" role="button">添加抽奖</div>
    </div>
    <!-- 右侧列表 -->
    <div ng-if="!lottery.editor" class="col-md-10">
      <!-- 活动列表 -->
      <table class="table table-bordered table-hover ">
        <thead>
          <th>名称</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>一等奖</th>
          <th>二等奖</th>
          <th>三等奖</th>
          <th>参与奖</th>
          <th>状态</th>
          <th>操作</th>

        </thead>
        <tbody>
          <tr ng-repeat="item in lottery.lotterys | orderBy: '-createdAt'" ng-class="{'danger': lottery.now > lottery.getTime(item.endTime.iso)}">
            <td>{{item.name}}</td>
            <td>{{lottery.moment(item.startTime.iso).format('MM-DD HH:mm')}}</td>
            <td>{{lottery.moment(item.endTime.iso).format('MM-DD HH:mm')}}</td>
            <td>{{item.firstLog.length || 0}} / {{item.firstPrize.prize | prizeLength}}</td>
            <td>{{item.secondLog.length || 0}} / {{item.secondPrize.prize | prizeLength}}</td>
            <td>{{item.thirdLog.length || 0}} / {{item.thirdPrize.prize | prizeLength}}</td>
            <td>{{item.otherLog.length || 0}} / {{item.otherPrize.prize | prizeLength}}</td>
            <td>{{lottery.now > lottery.getTime(item.endTime.iso) ? '过期' : '正常'}}</td>
            <td><button ng-click="lottery.addTap(item)" class="btn btn-default">编辑</button>
                <a ng-href="#/lottery/{{item.objectId}}" class="btn btn-primary">查看结果</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- 分页 -->
      <nav ng-if="lottery.pages.length > 1">
        <ul class="pagination">
          <li ng-class="{'disabled': lottery.page === 1}" ng-click="lottery.getList(1)">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <li ng-class="{'active': lottery.page === item}" ng-click="lottery.getList(item)" ng-repeat="item in lottery.pages">
            <span>{{item}}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li ng-class="{'disabled': lottery.page === lottery.pages.length}" ng-click="lottery.getList(lottery.pages.length)">
            <span aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
    </div>

    <!-- 编辑 -->
    <div ng-if="lottery.editor" class="col-md-9">
      <!-- 活动 -->
      <div>
        <form name="linkForm" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">活动名称</label>
            <input type="text" class="form-control" ng-model="lottery.add.name" placeholder="活动名称" required>
          </div>
          <div class="form-group">
            <label>开始时间</label>
            <input class="form-control" ng-model="lottery.add.startTime" moment-picker="lottery.add.startTime" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
          </div>
          <div class="form-group">
            <label>结束时间</label>
            <input class="form-control" ng-model="lottery.add.endTime" moment-picker="lottery.add.endTime" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择结束时间">
          </div>
          <div class="form-group">
            <label>抽奖类型</label>
            <div class="radio" ng-repeat="item in lottery.types">
              <label>
                <input type="radio" name="type" ng-model="lottery.add.type" ng-value="item.key"> {{item.name}}
              </label>
            </div>
          </div>
          <!-- 奖项 -->
          <!-- 奖项设置循环 -->
          <div ng-repeat="item in lottery.prize">
            <div class="page-header">
              <h3>{{item.val}}
              </h3>
            </div>
            <!-- 奖项设置 -->
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>奖项别称</label>
                  <input class="form-control" type="text" ng-model="lottery.add[item.key].name" ng-value="{{lottery.add[item.key].name || item.val}}">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>开始时间</label>
                  <input class="form-control" ng-model="lottery.add[item.key].start" moment-picker="lottery.add[item.key].start" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label>结束时间</label>
                  <input class="form-control" ng-model="lottery.add[item.key].end" moment-picker="lottery.add[item.key].end" locale="zh-tw" format="YYYY-MM-DD HH:mm" max-view="hour" start-view="month" placeholder="选择开始时间">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>中奖概率 1%</label>
                  <input class="form-control" type="number" ng-model="lottery.add[item.key].probability">
                </div>
              </div>
            </div>
            <!-- 奖项设置 Ending -->
            <!-- 奖品设置 -->
            <div class="row" ng-repeat="prize in lottery.add[item.key].prize">
              <!-- 奖品设置 -->
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" placeholder="奖品名称" type="text" ng-model="prize.name">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <input class="form-control" placeholder="数量" type="number" ng-model="prize.number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control" placeholder="奖品图片" type="text" ng-model="prize.img">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control" placeholder="奖品名称" type="button" value="删除" ng-click="lottery.removePrize(lottery.add[item.key], $index)">
                </div>
              </div>

              <!-- 奖项 End -->
            </div>
            <button ng-click="lottery.addPrize(lottery.add, item.key)" class="btn btn-primary btn-shadow">添加奖品</button>
            <hr>
          </div>


          <button ng-show="lottery.loading" class="btn btn-loaading">加载中</button>
          <button ng-hide="lottery.loading" ng-disabled="linkForm.$invalid" ng-click="lottery.save()" class="btn btn-primary btn-shadow">保存</button>
          <button ng-hide="lottery.loading" ng-if="lottery.add.objectId" ng-click="lottery.remove()" class="btn btn-danger btn-shadow">删除</button>
        </form>
      </div>

    </div>
  </div>
  <!-- 按钮组 -->
</div>
