<div class="container">
  <div class="row">
    <!-- 左侧 menu 列表 -->
    <div class="col-md-2">
      <a class="btn btn-block btn-primary" ng-href="#/lottery" role="button">返回抽奖活动列表</a>
    </div>
    <!-- 右侧列表 -->
    <div class="col-md-10">
      <p ng-show="rs.length || rs.length > -1">总参与人数:{{rs.length}}</p>
      <!-- 一等奖 -->
      <div>
        <h3>{{rs.prize.firstPrize.name || '一等奖'}}</h3>
        <!-- 活动列表 -->
        <table class="table table-bordered table-hover ">
          <thead>
            <th>排序</th>
            <th>姓名</th>
            <th>电话</th>
            <th>IP</th>
            <th>中奖时间</th>
            <th>奖项</th>
            <th>奖品</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in rs.prize.firstLog | orderBy: 'createdAt'">
              <td>{{$index +1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.tel}}</td>
              <td>{{item.ip}}</td>
              <td>{{rs.moment(item.time.iso).format('YYYY-MM-DD HH:mm')}}</td>
              <td>{{item.prizeTypeName}}</td>
              <td>{{item.prizeName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 二等奖 -->
      <div>
        <h3>{{rs.prize.secondPrize.name || '一等奖'}}</h3>
        <!-- 活动列表 -->
        <table class="table table-bordered table-hover ">
          <thead>
            <th>排序</th>
            <th>姓名</th>
            <th>电话</th>
            <th>IP</th>
            <th>中奖时间</th>
            <th>奖项</th>
            <th>奖品</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in rs.prize.secondLog | orderBy: 'createdAt'">
              <td>{{$index +1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.tel}}</td>
              <td>{{item.ip}}</td>
              <td>{{rs.moment(item.time.iso).format('YYYY-MM-DD HH:mm')}}</td>
              <td>{{item.prizeTypeName}}</td>
              <td>{{item.prizeName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 三等奖 -->
      <div>
        <h3>{{rs.prize.thirdPrize.name || '一等奖'}}</h3>
        <!-- 活动列表 -->
        <table class="table table-bordered table-hover ">
          <thead>
            <th>排序</th>
            <th>姓名</th>
            <th>电话</th>
            <th>IP</th>
            <th>中奖时间</th>
            <th>奖项</th>
            <th>奖品</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in rs.prize.thirdLog | orderBy: 'createdAt'">
              <td>{{$index +1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.tel}}</td>
              <td>{{item.ip}}</td>
              <td>{{rs.moment(item.time.iso).format('YYYY-MM-DD HH:mm')}}</td>
              <td>{{item.prizeTypeName}}</td>
              <td>{{item.prizeName}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- 参与奖 -->
      <div>
        <h3>{{rs.prize.otherPrize.name || '一等奖'}}</h3>
        <!-- 活动列表 -->
        <table class="table table-bordered table-hover ">
          <thead>
            <th>排序</th>
            <th>姓名</th>
            <th>电话</th>
            <th>IP</th>
            <th>中奖时间</th>
            <th>奖项</th>
            <th>奖品</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in rs.prize.otherLog | orderBy: 'createdAt'">
              <td>{{$index +1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.tel}}</td>
              <td>{{item.ip}}</td>
              <td>{{rs.moment(item.time.iso).format('YYYY-MM-DD HH:mm')}}</td>
              <td>{{item.prizeTypeName}}</td>
              <td>{{item.prizeName}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <!-- 按钮组 -->
</div>
